html {
  height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Kanit', sans-serif;
    color: black;
}
/* style voor popup box */
.helpicon {
  margin-left:85%; 
  z-index:3; 
  cursor: pointer;
  font-size:3em; 
  margin-top:20px;
  height:50px;
  text-align: center;
  width:50px;
  position:absolute;
  background-color: #FB785B;

}
.helpicon:hover{
  background-color: #9febf4;
}
.helpicon p {
  margin-top:-10px;
  font-weight: 100;
}
.helpicon2 {
  background-image: url("/icons/logouticon.png");;
  margin-left:92%; 
  z-index:3; 
  cursor: pointer;
  font-size:3em; 
  margin-top:20px;
  height:50px;
  text-align: center;
  width:50px;
  position:absolute;
  background-color: #FB785B;

}
.helpicon2:hover{
  background-color: #9febf4;
}
.helpicon2 p {
  margin-top:-15px;
  font-weight: 100;
}

/* begin css kalender */
ul {
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
} a:hover {
  text-decoration: none;
  color: #FB785B; /* blue */
}

.row {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:after, .container:before {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}

#calendar {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}
.calendar {
  height: 100%;
  padding: 0%  4% 2% 4%;
  border-collapse: separate;
  border-spacing: 5px;
  table-layout: fixed;
  background-color: white;
}
.calendar-left {
  height: 100%;
  position: relative;
  background-color: #9febf4;
  color: black;
}

.year {
  font-size: 2.5em;
  color: #000000;
  text-align: center;
  height: 1em;
  border-bottom: 1px solid #FB785B;
}

.monthnav {
  color: #FB785B  ;
}

.dayNow{
   background-color: #FB785B;
 }

.row td{
  margin-right: 35px;
}

.week td{
  text-align: center;
  height: 5vw;
  width: 5vw;
  /* border-radius: 50%; */
}
.monthNow {
  cursor: pointer;
}

.dayNames{
 text-align: center;
 color: #AAAAAA;
 position: relative;
 font-size: 18px;
 /* left: 355px; */
 word-spacing: 35px;
 font-weight: 600;
 height: 1em;
}
.notToday {
  background-color: #eee;
}
.filled {
  background-color: #ccc;
}


/* LEFT SIDE CONTENT */
.date {
  text-align: center;
}
hr {
  border-color: #FB785B;
  position: relative;
  top: 10%;
  width: 75%;
}
#daynr {
  font-size: 10em;
}
#monthstr {
  font-size: 5em;
}

.calendar-left ul {
  padding: 0;
}
#symptomlist {
  width: 100%;
}
#symptomlist li{
  display: inline-block;
  width: 4vw;
  height: 4vw;
}

/* Checkbox met image */
.css-label{
  background-repeat: no-repeat;
  background-color: #E9EEF4;
  background-size: cover;
  background-position: center;
}

 /* images voor de checkboxen */
#cut_label {
  background-image: url('/icons/wound.png');
}
#tickbite_label {
  background-image: url('/icons/tickbite.png');
}
#skinrash_label {
  background-image: url('/icons/skin_rash.png');
}
 #headache_label {
   background-image: url('/icons/head.png');
}
 #shoulderpain_label {
   background-image: url('/icons/shoulder.png');
}
#elbowpain_label {
  background-image: url('/icons/elbow.png');
}
#hippain_label {
  background-image: url('/icons/hip.png');
}
#thighpain_label {
  background-image: url('/icons/thigh.png');
}
#kneepain_label {
  background-image: url('/icons/knee.png');
}
#shinpain_label {
  background-image: url('/icons/shin.png');
}

#notes {
  word-wrap: break-word;
}

.options {
  position: relative;
  top: 50px;
}
.options > ul > .btn {
  margin-bottom: 10px;
}


/* RESPONSIVE */
@media only screen and (max-width: 720px) {
  .helpicon:hover{
    background-color: #FB785B ;
  }
  .helpicon{
    margin-left:82%;
  } 
  .calendar {
    left: 0;
    top: 0;
    position: relative;
    padding: 0%  4% 2% 4%;
    border-collapse: separate;
    border-spacing: 5px;
  }
  .week td{
    text-align: center;
    /* height: 5vw;
    width: 5vw; */
    border-radius: 0;
  }
  .year {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  #daynr {
    padding-top: 15px;
    font-size: 6em;
  }
  #monthstr {
    font-size: 1.7em;
  }
  #symptomlist li{
    display: inline-block;
    width: 12vw;
    height: 12vw;
  }
  #notes{
    font-size: 0.8em;
    max-height: 30%;
    overflow: scroll;
  }
  .options {
    position: relative;
    top: 0px;
  }
  .options > ul > .btn {
    width: 100%;
    margin-bottom: 10px;
  }

}

/* BUTTONS*/
.btn {
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #636b6f;
    text-decoration: none;
}
.btn.active, .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none;
}
.btn-default {
    color: #636b6f;
    background-color: #fff;
    border-color: #ccc;

}
.btn-default.focus, .btn-default:focus {
    color: #636b6f;
    background-color: #e6e5e5;
    border-color: #8c8c8c;
}
.btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
    color: #636b6f;
    background-color: #e6e5e5;
    border-color: #adadad;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.btn-default.dropdown-toggle.focus, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle:hover {
    color: #636b6f;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default.active, .btn-default:active, .open>.btn-default.dropdown-toggle {
    background-image: none;
}
.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #636b6f;
}
